# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
.vscode

# Numerous always-ignore extensions
.diff
.err
.orig
.log
.rej
.swo
.swp
.vi
~
.sass-cache

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# PhpStorm
.idea

# Eclipse
*.pydevproject
.project
.metadata
/build
tmp/
tests/clover.xml
.cache

# Grunt
node_modules

# Vendor
vendor

# PHPCS
.phpcs.xml
phpcs.xml

# POT File
languages/intercessor.pot
src/Database/.DS_Store
templates/.DS_Store
