/* Intercessor Recent Prayers Widget Frontend Styles */
.intercessor {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.intercessor .intercessor-prayers-list {
  background-color: #fff;
  margin: 15px 0 15px 0;
  padding: 1.25em;
  width: 100%;
}
.intercessor .intercessor-prayers-list:nth-of-type(odd) {
  background-color: rgba(242, 242, 242, 0.5);
  padding: 0.1em;
}
.intercessor .intercessor-prayers-list h4 .prayer-title {
  font-size: 2.28rem;
  font-weight: 400;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
  padding-bottom: 10px;
}
.intercessor .intercessor-prayers-list .intercessor-requester {
  float: left;
  left: 0;
  width: 53%;
}
.intercessor .intercessor-prayers-list .intercessor-requester #requester_name {
  height: 35px;
  margin: 0 0 10px 0;
}
.intercessor .intercessor-prayers-list .intercessor-answered {
  background-color: #d7f5c1;
  border-left: 5px solid #68d814;
  color: #555;
  display: block;
  float: none;
  margin: 10px 20%;
  padding: 10px 15px;
  width: 60%;
}
.intercessor .intercessor-prayers-list .prayer-list-counter {
  display: inline-block;
  float: right;
  height: 35px;
  margin: 0 0 10px 0;
  width: 37%;
}
.intercessor .intercessor-prayers-list .prayer-list-counter form .prayed-updater {
  background-color: #6deaea;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 15px 0 20px;
  padding: 0.15rem 0.35rem;
  text-align: center;
  text-transform: none;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}
.intercessor .intercessor-prayers-list .prayer-list-counter form .prayed-updater:active, .intercessor .intercessor-prayers-list .prayer-list-counter form .prayed-updater:hover, .intercessor .intercessor-prayers-list .prayer-list-counter form .prayed-updater:visited {
  background-color: #269090;
  text-decoration: none;
}
.intercessor .intercessor-prayers-list .prayer-list-counter form .prayed-for {
  color: #0C9da1;
  font-size: 13px !important;
  font-weight: 400;
  padding: 10px 5px 0 0;
  text-align: right;
}
.intercessor .intercessor-prayers-list p .prayer-message {
  margin: 0 0 1.5em;
  padding: 0;
  width: 100%;
}
.intercessor .intercessor-prayers-list .intercessor-received-date {
  color: #0C9da1;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  padding: 10px 0;
}

/** Pagination */
.intercessor-pagination {
  font-family: Arial, Helvetica, San-serif, serif;
  margin-bottom: 15px;
  padding: 10px 0 0 0;
  text-align: center;
}
.intercessor-pagination .current {
  background-color: #eaeaea;
  border-radius: 15px;
  color: #43a2a2 !important;
  display: inline-block;
  font-size: 14px !important;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 30px;
}
.intercessor-pagination a {
  border-radius: 15px;
  color: #43a2a2;
  display: inline-block;
  font-size: 14px !important;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.intercessor-pagination a span {
  display: none;
}
.intercessor-pagination a .next .page-numbers,
.intercessor-pagination a .prev .page-numbers {
  background-color: #9AA229 !important;
  border-radius: 15px !important;
  color: #ffffff;
  display: inline-block;
  font-size: 14px !important;
  height: 30px !important;
  line-height: 30px !important;
  padding: 0;
  text-align: center !important;
  text-decoration: none !important;
  width: 30px;
}

.intercessor-submit,
#intercessor-prayer-button,
input[type=submit].intercessor-submit {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intercessor-submit.button:focus,
input[type=submit].intercessor-submit:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}

.intercessor-submit.button:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.intercessor-submit.plain {
  padding: 0;
  border: none;
  border-radius: 0;
}

.button[disabled],
.input[disabled],
.textarea[disabled],
.select select[disabled],
input[type=submit].disabled,
.prayed-updater.disabled {
  background-color: #ddd;
  color: #fff;
  cursor: not-allowed;
}/*# sourceMappingURL=intercessor-listing.css.map */